@model Peliculas.Core.Pelicula

<h2>Insertar Nueva Película</h2>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label asp-for="Titulo">Título</label>
		<input asp-for="Titulo" class="form-control" />
		<span asp-validation-for="Titulo" class="text-danger"></span>
	</div>
    <div class="form-group">
        <label asp-for="Director">Director</label>
        <input asp-for="Director" class="form-control" />
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Anio">Año</label>
        <select asp-for="Anio" class="form-control">
            @for (int i = DateTime.Now.Year; i >= 1900; i--)
            {
                <option value ="@i">@i</option>
            }
        </select>
        <span asp-validation-for="Anio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Puntuacion">Puntuación</label>
        <select asp-for="Puntuacion" class="form-control">
            @for (double i = 10.0; i >= 0.0; i -= 0.1)
            {
                <option value="@i">@i.ToString("0.0").Replace(',', '.')</option>
            }
        </select>
        <span asp-validation-for="Puntuacion" class="text-danger"></span>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <a asp-action="Index" class="btn btn-primary h-100 my-3">Volver al listado</a>
        <button type="submit" class="btn btn-primary h-100 my-3">Insertar</button>
    </div>
</form>