@model Peliculas.Core.Pelicula

<h2>Editar Película</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-formaction="Id" />
	<div class="form-group">
		<label asp-for="Titulo"></label>
		<input asp-for="Titulo" class="form-control" />
		<span asp-validation-for="Titulo" class="text-danger"></span>
	</div>
    <div class="form-group">
        <label asp-for="Director">Director</label>
        <input asp-for="Director" class="form-control" />
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Anio">Año</label>
        <input asp-for="Anio" class="form-control" />
        <span asp-validation-for="Anio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Puntuacion">Puntuación</label>
        <input asp-for="Puntuacion" class="form-control" />
        <span asp-validation-for="Puntuacion" class="text-danger"></span>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <a asp-action="Index" class="btn btn-primary h-100 my-3">Volver al listado</a>
        <button type="submit" class="btn btn-primary h-100 my-3">Guardar Cambios</button>
    </div>
</form>